$prefix-cls: 'mall-login';

.#{$prefix-cls} {
  position: relative;

  %layouts {
    display: flex;
    justify-content: space-around;
  }

  &-wrapper {
    margin-top: 20vh;
  }

  &-form {
    @extend %layouts;
    height: 40vh;
    flex-direction: column;
    align-items: center;
  }

  &-input {
    height: 44px;
    border-bottom: 1px solid rgba(0, 0, 0, .6);
  }

  &-phone {
    position: relative;
    display: flex;
    align-items: center;

    > button {
      position: absolute;
      right: 0;
      display: inline-block;
    }
  }

  &-footer {
    @extend %layouts;
    margin-top: 25vh;
    
    &-wrapper {
      text-align: center;
      display: block;
      width: 90%;
      margin: 0 auto;
      border-top: 1px solid rgba(0, 0, 0, .3);

      > span {
        display: inline-block;
        margin-top: 15px;
        color: #1AAD19;
        font-size: 20px;
      }

      > p {
        margin-top: 10px;
        color: rgba(96, 61, 48, 1);
      }
    }    
  }
}
