$prefix-cls: 'mall-common-button';

.#{$prefix-cls} {
  width: 200px;
  height: 44px;
  font-size: 16px;
  box-shadow: 0 0 2px rgba(238, 160, 140, 1);
  outline: none;
  color: #fff;
  cursor: pointer;
  background-color: rgba(238, 160, 140, 1);
  border-radius: 5px;
}
