html {
  font-size: $baseFont + px;
  margin: 0 auto;
  background-color: $neutralBg;
  color: $neutralTitle;
  height: 100%;
}

body {
  height: 100%;
}

body,
div,
p,
span,
h1,
h2,
h3,
h4,
ul,
li,
input,
a,
button {
  font-family: Roboto, Noto Sans SC，Noto Sans TC，Noto Sans, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

  &:lang(th-TH) {
    line-height: 1.5;
  }
}

input {
  outline: none;
  border: none;
  &::placeholder {
    color: $neutralDisable;
  }
}

p {
  word-wrap: normal;
  word-break: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  appearance: none;
  background: transparent;
  border: 0;
  &:focus {
    outline: none;
  }
}

ul,
ol {
  list-style: none;
}
