$prefix-cls: 'mall-goods';

.#{$prefix-cls} {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 100%;

  &-wrapper {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
