:global(.vwh100) {
  position: relative;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  height: 100vh;
  background: #fff;
}

.app {
  margin: 0 auto;
  height: 100vh;
  background: #f2f2f2;
}
 